.button {
    display: inline-block;

    transition: all 100ms linear;

    &:hover:not(&_disabled_true) {
        cursor: pointer;
    }

    border: 1px solid #222222;

    text-align: center;

    box-sizing: border-box;

    &_mode {
        &_plain {
            background: #ffffff;

            color: #222222;

            &:hover:not(.button_disabled_true) {
                background: #222222;
                color: #ffffff;
            }
        }

        &_active {
            background: #222222;
            color: #ffffff;

            &:hover:not(.button_disabled_true) {
                border: 1px solid #222222;
                background: #ffffff;

                color: #222222;
            }
        }

        &_icon {
            display: flex;
            align-items: center;
            justify-content: center;

            background: #ffffff;
            border-radius: 50%;

            width: 40px;
            height: 40px;

            border: none;

            &:hover:not(.button_disabled_true) {
                opacity: 0.7;
            }
        }
    }

    &_size {
        &_m {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            border-radius: 20px;
            padding: 8px 24px;
        }

        &_l {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;

            border-radius: 30px;
            padding: 12px 48px;
        }
    }

    &_width {
        &_full {
            width: 100%;
        }
    }
}
